* {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fbcb1a;
  --background-color: #000000;
  --light-color: #ffffff;
  --search-bg-col: #10161d;
  --search-txt-col: #e6e6e6;
}

body {
  background-color: var(--background-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 2px 5px #00000050;
  color: var(--light-color);
}

header h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: var(--primary-color);
  animation: underline 3s 1 linear alternate forwards;
}

header span {
  color: var(--primary-color);
}

#query {
  background-color: var(--search-bg-col);
  color: var(--search-txt-col);
  border: none;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

#searchBtn {
  background-color: var(--primary-color);
  border: none;
  font-size: 1rem;
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 5px;
}

#query:focus {
  outline: none;
}

#main-heading {
  color: var(--light-color);
  text-align: center;
}

#main-heading span {
  color: var(--primary-color);
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 3rem;
  gap: 2rem;
}

#movie-container {
  background-color: var(--search-bg-col);
  width: 450px;
  height: 550px;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}

#movie-title,
#movie-year {
  color: var(--light-color);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#movie-poster {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 5px;
}

#not-found {
  color: var(--light-color);
  text-align: center;
}

#loading {
  display: none;
  color: var(--light-color);
  text-align: center;
  margin-top: 6rem;
}

#movie-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #ddad00;
  cursor: pointer;
}

#searchBtn:active {
  transform: scale(0.95);
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  header div {
    align-self: end;
  }

  #query {
    margin-top: 1rem;
    width: 250px;
  }
}

@media screen and (max-width: 470px) {
  header {
    padding: 15px 10px;
  }

  header h1 {
    align-self: center;
    font-size: 1.8rem;
  }

  #query {
    padding: 6px;
    width: 200px;
  }

  #searchBtn {
    font-size: 0.8rem;
  }

  #main-heading {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  #main-heading span {
    color: var(--primary-color);
  }

  #movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0.4rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  #movie-container {
    width: 320px;
    height: 350px;
    padding: 1rem;
  }

  #movie-title,
  #movie-year {
    color: var(--light-color);
    font-size: 1rem;
  }

  #movie-poster {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }

  #not-found {
    color: var(--light-color);
    text-align: center;
    font-size: 1.2rem;
  }

  #loading {
    display: none;
    color: var(--light-color);
    text-align: center;
    margin-top: 6rem;
  }

  #movie-container:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  #searchBtn:hover {
    background-color: #ddad00;
    cursor: pointer;
  }

  #searchBtn:active {
    transform: scale(0.95);
  }
}
