* {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ddad00;
  --background-color: #000000;
  --light-color: #ffffff;
  --search-bg-col: #10161d;
  --search-txt-col: #e6e6e6;
}

body {
  background-color: var(--background-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 2px 5px #00000050;
  color: var(--light-color);
}

header span {
  color: var(--primary-color);
}

#query {
  background-color: var(--search-bg-col);
  color: var(--search-txt-col);
  border: none;
  padding: 10px;
  width: 300px;
}

#searchBtn {
  background-color: var(--primary-color);
  border: none;
  font-size: 1rem;
  padding: 0.4rem;
  font-weight: bold;
}

#query:focus {
  outline: none;
}

#main-heading {
  color: var(--light-color);
  text-align: center;
}

#main-heading span {
  color: var(--primary-color);
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 3rem;
  gap: 2rem;
}

#movie-container {
  background-color: #1a1a1a;
  width: 450px;
  height: 550px;
  padding: 2rem;
  margin: 0 auto;
}

#movie-title,
#movie-year {
  color: var(--light-color);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#movie-poster {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

#not-found {
  color: var(--light-color);
  text-align: center;
}

#loading {
  display: none;
  color: var(--light-color);
  text-align: center;
  margin-top: 6rem;
}
